<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (profile(); as profileRef) {
      <div>
        <h2 data-cy="profileDetailsHeading"><span>Profile</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ profileRef.id }}</span>
          </dd>
          <dt><span>Bio</span></dt>
          <dd>
            <span>{{ profileRef.bio }}</span>
          </dd>
          <dt><span>Profile Picture</span></dt>
          <dd>
            @if (profileRef.profilePicture) {
              <div>
                <a (click)="openFile(profileRef.profilePicture ?? '', profileRef.profilePictureContentType)">
                  <img
                    [src]="'data:' + profileRef.profilePictureContentType + ';base64,' + profileRef.profilePicture"
                    style="max-width: 100%"
                    alt="profile"
                  />
                </a>
                {{ profileRef.profilePictureContentType }}, {{ byteSize(profileRef.profilePicture ?? '') }}
              </div>
            }
          </dd>
          <dt><span>Course</span></dt>
          <dd>
            <span>{{
              {
                null: '',
                COMPUTER_SCIENCE: 'COMPUTER_SCIENCE',
                ECONOMICS: 'ECONOMICS',
                PSYCHOLOGY: 'PSYCHOLOGY',
                MATHS: 'MATHS',
                ENGLISH: 'ENGLISH',
              }[profileRef.course ?? 'null']
            }}</span>
          </dd>
          <dt><span>Course Year</span></dt>
          <dd>
            <span>{{ profileRef.courseYear }}</span>
          </dd>
          <dt><span>Gym Skill</span></dt>
          <dd>
            <span>{{
              { null: '', NOVICE: 'NOVICE', INTERMEDIATE: 'INTERMEDIATE', CONFIDENT: 'CONFIDENT', PROFESSIONAL: 'PROFESSIONAL' }[
                profileRef.gymSkill ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Gym Location</span></dt>
          <dd>
            <span>{{
              { null: '', THE_GYM_SELLY_OAK: 'THE_GYM_SELLY_OAK', TIVERTON: 'TIVERTON', PUREGYM_FIVE_WAYS: 'PUREGYM_FIVE_WAYS' }[
                profileRef.gymLocation ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Gym Time</span></dt>
          <dd>
            <span>{{
              { null: '', MORNING: 'MORNING', AFTERNOON: 'AFTERNOON', EVENING: 'EVENING', NIGHT: 'NIGHT' }[profileRef.gymTime ?? 'null']
            }}</span>
          </dd>
          <dt><span>Study Time</span></dt>
          <dd>
            <span>{{
              { null: '', MORNING: 'MORNING', AFTERNOON: 'AFTERNOON', EVENING: 'EVENING', NIGHT: 'NIGHT' }[profileRef.studyTime ?? 'null']
            }}</span>
          </dd>
          <dt><span>Sports</span></dt>
          <dd>
            <span>{{
              { null: '', FOOTBALL: 'FOOTBALL', CRICKET: 'CRICKET', BADMINTON: 'BADMINTON', TENNIS: 'TENNIS', NETBALL: 'NETBALL' }[
                profileRef.sports ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Sports Skill</span></dt>
          <dd>
            <span>{{
              { null: '', NOVICE: 'NOVICE', INTERMEDIATE: 'INTERMEDIATE', CONFIDENT: 'CONFIDENT', PROFESSIONAL: 'PROFESSIONAL' }[
                profileRef.sportsSkill ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ profileRef.user?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/profile', profileRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
