<div>
  <h2 id="page-heading" data-cy="ActivityParticipantHeading">
    <span>Activity Participants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-activity-participant"
        [routerLink]="['/activity-participant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Activity Participant</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (activityParticipants?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Activity Participants found</span>
    </div>
  }

  @if (activityParticipants && activityParticipants.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="joinedDate">
              <div class="d-flex">
                <span>Joined Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span>Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="participant.id">
              <div class="d-flex">
                <span>Participant</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activity.id">
              <div class="d-flex">
                <span>Activity</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (activityParticipant of activityParticipants; track trackId(activityParticipant)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/activity-participant', activityParticipant.id, 'view']">{{ activityParticipant.id }}</a>
              </td>
              <td>{{ activityParticipant.joinedDate | formatMediumDatetime }}</td>
              <td>
                {{ { null: '', PENDING: 'PENDING', CONFIRMED: 'CONFIRMED', CANCELED: 'CANCELED' }[activityParticipant.status ?? 'null'] }}
              </td>
              <td>
                @if (activityParticipant.participant) {
                  <div>
                    <a [routerLink]="['/profile', activityParticipant.participant.id, 'view']">{{ activityParticipant.participant.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (activityParticipant.activity) {
                  <div>
                    <a [routerLink]="['/activity', activityParticipant.activity.id, 'view']">{{ activityParticipant.activity.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/activity-participant', activityParticipant.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/activity-participant', activityParticipant.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(activityParticipant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
