@if (challenge) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(challenge.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="challengeDeleteDialogHeading">Confirm delete operation</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p id="jhi-delete-challenge-heading">Are you sure you want to delete Challenge {{ challenge.id }}?</p>
    </div>

    <div class="modal-footer d-flex justify-content-between">
      <button
        type="button"
        class="btn btn-secondary"
        style="color: #fff !important; background-color: #6c757d !important; border-color: #6c757d !important"
        data-dismiss="modal"
        (click)="cancel()"
      >
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
      </button>

      <button id="jhi-confirm-delete-challenge" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span>Delete</span>
      </button>
    </div>
  </form>
}
