<div>
  <h2 id="page-heading" data-cy="BookingHeading">
    <span>Bookings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-booking"
        [routerLink]="['/booking/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Booking</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (bookings?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Bookings found</span>
    </div>
  }

  @if (bookings && bookings.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activityType">
              <div class="d-flex">
                <span>Activity Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="eventType">
              <div class="d-flex">
                <span>Event Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bookingDate">
              <div class="d-flex">
                <span>Booking Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="partySize">
              <div class="d-flex">
                <span>Party Size</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bookingStatus">
              <div class="d-flex">
                <span>Booking Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span>Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="assignedAt">
              <div class="d-flex">
                <span>Assigned At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="timeSlots.id">
              <div class="d-flex">
                <span>Time Slots</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bookedActivity.id">
              <div class="d-flex">
                <span>Booked Activity</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bookingLocation.id">
              <div class="d-flex">
                <span>Booking Location</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creator.id">
              <div class="d-flex">
                <span>Creator</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activity.id">
              <div class="d-flex">
                <span>Activity</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="timeSlot.id">
              <div class="d-flex">
                <span>Time Slot</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (booking of bookings; track trackId(booking)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/booking', booking.id, 'view']">{{ booking.id }}</a>
              </td>
              <td>
                {{
                  { null: '', SOCIAL: 'SOCIAL', ACADEMIC: 'ACADEMIC', SPORTS: 'SPORTS', GYM: 'GYM', OTHER: 'OTHER' }[
                    booking.activityType ?? 'null'
                  ]
                }}
              </td>
              <td>
                {{
                  {
                    null: '',
                    STUDY_SPACES: 'STUDY_SPACES',
                    EVENT_ROOMS: 'EVENT_ROOMS',
                    FOOTBALL_PITCH: 'FOOTBALL_PITCH',
                    TENNIS_COURT: 'TENNIS_COURT',
                    BASKETBALL_COURT: 'BASKETBALL_COURT',
                    DOJO: 'DOJO',
                    SWIMMING_POOL: 'SWIMMING_POOL',
                    SQUASH_COURT: 'SQUASH_COURT',
                  }[booking.eventType ?? 'null']
                }}
              </td>
              <td>{{ booking.bookingDate | formatMediumDate }}</td>
              <td>{{ booking.partySize }}</td>
              <td>{{ { null: '', CONFIRMED: 'CONFIRMED', CANCELLED: 'CANCELLED' }[booking.bookingStatus ?? 'null'] }}</td>
              <td>{{ booking.createdAt | formatMediumDatetime }}</td>
              <td>{{ booking.assignedAt | formatMediumDatetime }}</td>
              <td>
                @if (booking.timeSlots) {
                  <div>
                    <a [routerLink]="['/time-slot', booking.timeSlots.id, 'view']">{{ booking.timeSlots.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (booking.bookedActivity) {
                  <div>
                    <a [routerLink]="['/activity', booking.bookedActivity.id, 'view']">{{ booking.bookedActivity.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (booking.bookingLocation) {
                  <div>
                    <a [routerLink]="['/location', booking.bookingLocation.id, 'view']">{{ booking.bookingLocation.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (booking.creator) {
                  <div>
                    <a [routerLink]="['/profile', booking.creator.id, 'view']">{{ booking.creator.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (booking.activity) {
                  <div>
                    <a [routerLink]="['/activity', booking.activity.id, 'view']">{{ booking.activity.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (booking.timeSlot) {
                  <div>
                    <a [routerLink]="['/time-slot', booking.timeSlot.id, 'view']">{{ booking.timeSlot.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/booking', booking.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/booking', booking.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(booking)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
