<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table {
    width: 75%;
  }
  .pfp {
    width: 20%;
  }
</style>

<div>
  <h2 id="page-heading" data-cy="ReviewHeading">
    <span>[User] Reviews</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-review"
        [routerLink]="['/review/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Submit review</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (reviews?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Reviews found</span>
    </div>
  }

  @if (reviews && reviews.length > 0) {
    <div class="table-responsive table-reviews" id="reviews" style="overflow-y: auto">
      <img class="pfp" src="../../../content/images/pfp.jpg" alt="profile picture" style="float: left" />
      <table class="table table-striped" aria-describedby="page-heading" align="right">
        <thead>
          <tr>
            <table align="left"></table>
          </tr>
        </thead>
        <tbody>
          @for (review of reviews; track trackId(review)) {
            <tr data-cy="entityTable">
              <td width="15%">{{ review.datePublished | formatMediumDatetime }}</td>
              <td>
                <tr>
                  ({{
                    review.star
                  }})
                </tr>
                <tr height="90px">
                  {{
                    review.text
                  }}
                </tr>
                <tr>
                  {{
                    review.fromUser
                  }}
                </tr>
              </td>
              <td class="text-end" width="8%">
                <div class="btn-group">
                  <button type="submit" (click)="delete(review)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <!--if user = fromUser then delete else not your review. actually else button not shown-->
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
