<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>

<div>
  <h2 id="page-heading" data-cy="ReviewHeading">
    <span>[User] Reviews</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-review"
        [routerLink]="['/review/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Submit review</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (reviews?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Reviews found</span>
    </div>
  }

  @if (reviews && reviews.length > 0) {
    <div class="table-responsive table-reviews" id="reviews" style="overflow-y: auto">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="datePublished">
              <div class="d-flex">
                <span>Date Published</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="star" width="5%">
              <div class="d-flex">
                <span>Star</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="text" width="50%">
              <div class="d-flex">
                <span>Text</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fromUser.id">
              <div class="d-flex">
                <span>From User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (review of reviews; track trackId(review)) {
            <tr data-cy="entityTable">
              <td>{{ review.datePublished | formatMediumDatetime }}</td>
              <td>{{ review.star }}</td>
              <td>{{ review.text }}</td>
              <td>
                {{ review.fromUser?.id }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button type="submit" (click)="delete(review)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <!--if user = fromUser then delete else not your review. actually else button not shown-->
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
