<button
  type="button"
  class="join-button"
  [ngClass]="[cssClass, hasJoined ? 'btn-warning' : '', isLoading ? 'disabled' : '']"
  [disabled]="isLoading || (!isJoinable && !hasJoined) || (isFull && !hasJoined)"
  (click)="toggleParticipation()"
>
  @if (isLoading) {
    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
    <span>Loading...</span>
  } @else {
    @if (!isJoinable && !hasJoined) {
      <span>{{ notJoinableText }}</span>
    } @else if (isFull && !hasJoined) {
      <span>{{ fullText }}</span>
    } @else if (hasJoined) {
      <span>{{ joinedText }}</span>
    } @else {
      <span>{{ buttonText }}</span>
    }
  }
</button>
