<div class="layout-container">
  <jhi-navbar></jhi-navbar>

  <main class="main-content">
    <header class="topbar">
      <div class="profile">
        <img
          loading="lazy"
          *ngIf="profile?.profilePicture"
          [src]="'data:' + profile?.profilePictureContentType + ';base64,' + profile?.profilePicture"
          alt=""
          class="avatar-lg rounded-circle border"
        />
      </div>
    </header>
    <section class="page-content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
