<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (chat(); as chatRef) {
      <div>
        <h2 data-cy="chatDetailsHeading"><span>Chat</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ chatRef.id }}</span>
          </dd>
          <dt><span>Message</span></dt>
          <dd>
            <span>{{ chatRef.message }}</span>
          </dd>
          <dt><span>Timestamp</span></dt>
          <dd>
            <span>{{ chatRef.timestamp | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{ { null: '', UNMATCH: 'UNMATCH', REPORT: 'REPORT' }[chatRef.type ?? 'null'] }}</span>
          </dd>
          <dt><span>Friend Chat</span></dt>
          <dd>
            @if (chat()!.friendChat) {
              <div>
                <a [routerLink]="['/friends-list', chat()!.friendChat?.id, 'view']">{{ chatRef.friendChat?.id }}</a>
              </div>
            }
          </dd>
          <dt><span>Chats</span></dt>
          <dd>
            @if (chat()!.chats) {
              <div>
                <a [routerLink]="['/profile', chat()!.chats?.id, 'view']">{{ chatRef.chats?.id }}</a>
              </div>
            }
          </dd>
          <dt><span>Sender</span></dt>
          <dd>
            <span>{{ chatRef.sender?.id }}</span>
          </dd>
          <dt><span>Receiver</span></dt>
          <dd>
            <span>{{ chatRef.receiver?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/chat', chatRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
