<!-- src/main/webapp/app/entities/challenge/challenge.component.html -->
<div>
  <h2 id="page-heading" data-cy="ChallengeHeading">
    <span>Challenges</span>

    <div class="d-flex justify-content-end mt-2">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-challenge"
        [routerLink]="['/challenge/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Challenge</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  @if (challenges?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Challenges found</span>
    </div>
  }

  @if (challenges && challenges.length > 0) {
    <div class="table-responsive table-entities mt-4" id="entities">
      <table class="table table-striped align-middle" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">ID <fa-icon icon="sort" class="ms-1"></fa-icon></th>
            <th scope="col" jhiSortBy="title">Title <fa-icon icon="sort" class="ms-1"></fa-icon></th>
            <th scope="col" jhiSortBy="description">Description <fa-icon icon="sort" class="ms-1"></fa-icon></th>
            <th scope="col" jhiSortBy="category">Category <fa-icon icon="sort" class="ms-1"></fa-icon></th>
            <th scope="col" jhiSortBy="date">Date <fa-icon icon="sort" class="ms-1"></fa-icon></th>
            <th scope="col" jhiSortBy="points">Points <fa-icon icon="sort" class="ms-1"></fa-icon></th>
            <th scope="col">Trophy</th>
            <th scope="col" jhiSortBy="completed">Completed <fa-icon icon="sort" class="ms-1"></fa-icon></th>
            <th scope="col" jhiSortBy="assignedTo.id">Assigned To <fa-icon icon="sort" class="ms-1"></fa-icon></th>
            <th scope="col" jhiSortBy="createdBy.id">Created By <fa-icon icon="sort" class="ms-1"></fa-icon></th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (challenge of challenges; track trackId(challenge)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/challenge', challenge.id, 'view']">{{ challenge.id }}</a>
              </td>
              <td>{{ challenge.title }}</td>
              <td>{{ challenge.description }}</td>
              <td>
                {{
                  {
                    null: '',
                    STUDY: 'Study',
                    SPORTS: 'Sports',
                    COMMUNITY: 'Community',
                    PERSONAL_GROWTH: 'Personal Growth',
                    SOCIAL: 'Social',
                  }[challenge.category ?? 'null']
                }}
              </td>
              <td>{{ challenge.date | formatMediumDate }}</td>
              <td>{{ challenge.points }}</td>
              <td>
                @if (challenge.completed && challenge.points >= 5) {
                  <span class="badge trophy-badge" [ngStyle]="{ 'background-color': getTrophyColor(challenge.points), color: '#000' }">
                    <fa-icon icon="trophy" class="me-1"></fa-icon>
                    {{ getTrophyLabel(challenge.points) }}
                  </span>
                }
              </td>
              <td>{{ challenge.completed ? 'Yes' : 'No' }}</td>
              <td>
                @if (challenge.assignedTo) {
                  <a [routerLink]="['/profile', challenge.assignedTo.id, 'view']">{{ challenge.assignedTo.id }}</a>
                }
              </td>
              <td>
                @if (challenge.createdBy) {
                  <a [routerLink]="['/profile', challenge.createdBy.id, 'view']">{{ challenge.createdBy.id }}</a>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/challenge', challenge.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>
                  <a [routerLink]="['/challenge', challenge.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>
                  <button type="submit" (click)="delete(challenge)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
