<div class="chat-container">
  <!-- Contact List -->
  <div class="contact-list">
    <ng-container *ngFor="let contact of contacts | keyvalue">
      <button class="contact-item" [class.selected]="selectedContact === contact.key" (click)="selectContact(contact.key)">
        <div class="contact-avatar" [style.background-color]="contact.value.avatar">
          {{ contact.key[0] }}
        </div>
        <div class="contact-name">{{ contact.key }}</div>
      </button>
    </ng-container>
  </div>

  <!-- Chat Area -->
  <div class="chat-area">
    <div class="chat-header">
      <div class="contact-avatar" [style.background-color]="contacts[selectedContact].avatar">
        {{ selectedContact[0] }}
      </div>
      <div class="match-info">You matched with {{ selectedContact }}</div>
    </div>

    <div class="messages-container" #messagesContainer>
      <!-- Initial message from contact -->
      <div class="message-row received">
        <div class="contact-avatar" [style.background-color]="contacts[selectedContact].avatar">
          {{ selectedContact[0] }}
        </div>
        <div class="message">
          {{ contacts[selectedContact].initialMessage }}
        </div>
        <span class="message-time">12:56 PM</span>
      </div>

      <!-- Dynamic messages -->
      <ng-container *ngFor="let message of messages[selectedContact]">
        <!-- Added profanity-filtered class to messages that contained profanity -->
        <div
          class="message-row"
          [class.sent]="message.type === 'sent'"
          [class.received]="message.type === 'received'"
          [class.profanity-filtered]="message.containsProfanity"
        >
          <!-- Contact avatar for received messages -->
          <ng-container *ngIf="message.type === 'received'">
            <div class="contact-avatar" [style.background-color]="contacts[selectedContact].avatar">
              {{ selectedContact[0] }}
            </div>
          </ng-container>

          <span class="message-time">{{ message.time }}</span>
          <div class="message">{{ message.text }}</div>
        </div>
        <!-- Added profanity warning message -->
        <div *ngIf="message.containsProfanity" class="profanity-warning">Message contained inappropriate language and was filtered.</div>
      </ng-container>
    </div>

    <div class="message-input-container">
      <input type="text" class="message-input" [(ngModel)]="newMessage" placeholder="Type a message..." (keyup.enter)="sendMessage()" />
      <button class="send-button" (click)="sendMessage()" [disabled]="!newMessage.trim()">Send</button>
    </div>
  </div>

  <!-- Profile Info -->
  <div class="profile-info">
    <div class="profile-avatar" [style.background-color]="contacts[selectedContact].avatar">
      {{ selectedContact[0] }}
    </div>
    <div class="profile-details">
      <h3>{{ selectedContact }}, {{ contacts[selectedContact].age }}</h3>
    </div>
    <!--    <button class="unmatch-button">Unmatch</button>-->
    <!--    <button class="report-button">Report</button>-->
  </div>
</div>
