<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-activity-match-heading" data-cy="ActivityMatchCreateUpdateHeading">Create or edit a Activity Match</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let activityTypeRef = editForm.get('activityType')!;
        <div class="mb-3">
          <label class="form-label" for="field_activityType">Activity Type</label>
          <select class="form-control" name="activityType" formControlName="activityType" id="field_activityType" data-cy="activityType">
            <option [ngValue]="null"></option>
            @for (activityType of activityTypeValues; track $index) {
              <option [value]="activityType">
                {{ { null: '', SOCIAL: 'SOCIAL', ACADEMIC: 'ACADEMIC', SPORTS: 'SPORTS', GYM: 'GYM', OTHER: 'OTHER' }[activityType] }}
              </option>
            }
          </select>
          @if (activityTypeRef.invalid && (activityTypeRef.dirty || activityTypeRef.touched)) {
            <div>
              @if (editForm.get('activityType')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            @for (decision of decisionValues; track $index) {
              <option [value]="decision">{{ { null: '', ACCEPT: 'ACCEPT', DECLINED: 'DECLINED', PENDING: 'PENDING' }[decision] }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let matchDateRef = editForm.get('matchDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_matchDate">Match Date</label>
          <div class="input-group">
            <input
              id="field_matchDate"
              data-cy="matchDate"
              type="text"
              class="form-control"
              name="matchDate"
              ngbDatepicker
              #matchDateDp="ngbDatepicker"
              formControlName="matchDate"
            />
            <button type="button" class="btn btn-secondary" (click)="matchDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (matchDateRef.invalid && (matchDateRef.dirty || matchDateRef.touched)) {
            <div>
              @if (editForm.get('matchDate')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let matchTimeRef = editForm.get('matchTime')!;
        <div class="mb-3">
          <label class="form-label" for="field_matchTime">Match Time</label>
          <div class="d-flex">
            <input
              id="field_matchTime"
              data-cy="matchTime"
              type="datetime-local"
              class="form-control"
              name="matchTime"
              formControlName="matchTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (matchTimeRef.invalid && (matchTimeRef.dirty || matchTimeRef.touched)) {
            <div>
              @if (editForm.get('matchTime')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('matchTime')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let locationRef = editForm.get('location')!;
        <div class="mb-3">
          <label class="form-label" for="field_location">Location</label>
          <input type="text" class="form-control" name="location" id="field_location" data-cy="location" formControlName="location" />
          @if (locationRef.invalid && (locationRef.dirty || locationRef.touched)) {
            <div>
              @if (editForm.get('location')?.errors?.maxlength) {
                <small class="form-text text-danger">This field cannot be longer than 100 characters.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes">Notes</label>
          <textarea class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes"></textarea>
        </div>

        @let createdAtRef = editForm.get('createdAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdAtRef.invalid && (createdAtRef.dirty || createdAtRef.touched)) {
            <div>
              @if (editForm.get('createdAt')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let responseAtRef = editForm.get('responseAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_responseAt">Response At</label>
          <div class="d-flex">
            <input
              id="field_responseAt"
              data-cy="responseAt"
              type="datetime-local"
              class="form-control"
              name="responseAt"
              formControlName="responseAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (responseAtRef.invalid && (responseAtRef.dirty || responseAtRef.touched)) {
            <div>
              @if (editForm.get('responseAt')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('responseAt')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ratings">Ratings</label>
          <select
            class="form-control"
            id="field_ratings"
            data-cy="ratings"
            name="ratings"
            formControlName="ratings"
            [compareWith]="compareRanking"
          >
            <option [ngValue]="null"></option>
            @for (rankingOption of ratingsCollection; track $index) {
              <option [ngValue]="rankingOption">{{ rankingOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_matchRequestor">Match Requestor</label>
          <select
            class="form-control"
            id="field_matchRequestor"
            data-cy="matchRequestor"
            name="matchRequestor"
            formControlName="matchRequestor"
            [compareWith]="compareProfile"
          >
            <option [ngValue]="null"></option>
            @for (profileOption of profilesSharedCollection; track $index) {
              <option [ngValue]="profileOption">{{ profileOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_userDetails">User Details</label>
          <select
            class="form-control"
            id="field_userDetails"
            data-cy="userDetails"
            name="userDetails"
            formControlName="userDetails"
            [compareWith]="compareProfile"
          >
            <option [ngValue]="null"></option>
            @for (profileOption of profilesSharedCollection; track $index) {
              <option [ngValue]="profileOption">{{ profileOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_matchedActivity">Matched Activity</label>
          <select
            class="form-control"
            id="field_matchedActivity"
            data-cy="matchedActivity"
            name="matchedActivity"
            formControlName="matchedActivity"
            [compareWith]="compareActivity"
          >
            <option [ngValue]="null"></option>
            @for (activityOption of activitiesSharedCollection; track $index) {
              <option [ngValue]="activityOption">{{ activityOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
