<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (friendsList(); as friendsListRef) {
      <div>
        <h2 data-cy="friendsListDetailsHeading"><span>Friends List</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ friendsListRef.id }}</span>
          </dd>
          <dt><span>Request Time</span></dt>
          <dd>
            <span>{{ friendsListRef.requestTime | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Request Status</span></dt>
          <dd>
            <span>{{
              { null: '', ACCEPT: 'ACCEPT', DECLINED: 'DECLINED', PENDING: 'PENDING' }[friendsListRef.requestStatus ?? 'null']
            }}</span>
          </dd>
          <dt><span>Friend Since</span></dt>
          <dd>
            <span>{{ friendsListRef.friendSince | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Nickname</span></dt>
          <dd>
            <span>{{ friendsListRef.nickname }}</span>
          </dd>
          <dt><span>Requested By Profile</span></dt>
          <dd>
            @if (friendsList()!.requestedByProfile) {
              <div>
                <a [routerLink]="['/profile', friendsList()!.requestedByProfile?.id, 'view']">{{
                  friendsListRef.requestedByProfile?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span>Requested To Profile</span></dt>
          <dd>
            @if (friendsList()!.requestedToProfile) {
              <div>
                <a [routerLink]="['/profile', friendsList()!.requestedToProfile?.id, 'view']">{{
                  friendsListRef.requestedToProfile?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/friends-list', friendsListRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
