<div>
  <h2 id="page-heading" data-cy="FriendRequestsHeading">
    <span>FRIEND REQUESTS</span>
  </h2>

  <div class="search-area">
    <a [routerLink]="['/friends-list']" class="back-btn"> <fa-icon icon="arrow-left"></fa-icon> ALL FRIENDS </a>
  </div>

  <h3 class="requests-heading">Pending Requests</h3>

  @if (friendRequests?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Friend Requests found</span>
    </div>
  }

  @if (friendRequests && friendRequests.length > 0) {
    <div class="friends-grid">
      @for (request of friendRequests; track trackId(request)) {
        <div class="friend-card">
          <div class="request-status {{ request.friendRequest }}">
            {{ { null: '', ACCEPT: 'ACCEPTED', DECLINED: 'DECLINED', PENDING: 'PENDING' }[request.friendRequest ?? 'null'] }}
          </div>

          <div class="profile-pic"></div>

          <div class="friend-name">Friend #{{ request.friend?.id }}</div>

          <div class="action-buttons">
            <button type="button" (click)="acceptRequest(request)" class="accept-btn"><fa-icon icon="check"></fa-icon> ACCEPT</button>

            <button type="button" (click)="declineRequest(request)" class="decline-btn"><fa-icon icon="times"></fa-icon> DECLINE</button>
          </div>

          <div class="view-profile-link">
            <a [routerLink]="['/profile']">VIEW PROFILE</a>
          </div>
        </div>
      }
    </div>
  }
</div>
