<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (activityMatch(); as activityMatchRef) {
      <div>
        <h2 data-cy="activityMatchDetailsHeading"><span>Activity Match</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ activityMatchRef.id }}</span>
          </dd>
          <dt><span>Activity Type</span></dt>
          <dd>
            <span>{{
              { null: '', SOCIAL: 'SOCIAL', ACADEMIC: 'ACADEMIC', SPORTS: 'SPORTS', GYM: 'GYM', OTHER: 'OTHER' }[
                activityMatchRef.activityType ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ { null: '', ACCEPT: 'ACCEPT', DECLINED: 'DECLINED', PENDING: 'PENDING' }[activityMatchRef.status ?? 'null'] }}</span>
          </dd>
          <dt><span>User Name</span></dt>
          <dd>
            @if (activityMatch()!.userName) {
              <div>
                <a [routerLink]="['/profile', activityMatch()!.userName?.id, 'view']">{{ activityMatchRef.userName?.id }}</a>
              </div>
            }
          </dd>
          <dt><span>Request User</span></dt>
          <dd>
            <span>{{ activityMatchRef.requestUser?.id }}</span>
          </dd>
          <dt><span>Matched User</span></dt>
          <dd>
            <span>{{ activityMatchRef.matchedUser?.id }}</span>
          </dd>
          <dt><span>Matched Activity</span></dt>
          <dd>
            @if (activityMatch()!.matchedActivity) {
              <div>
                <a [routerLink]="['/activity', activityMatch()!.matchedActivity?.id, 'view']">{{ activityMatchRef.matchedActivity?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/activity-match', activityMatchRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
