.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.card-title {
  font-weight: 600;
}

.badge {
  font-weight: 500;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
}

#btnchange {
  background-color: purple;
  border: none;
  color: white;
}

#btnchange2 {
  background-color: mediumpurple;
  border: none;
}
